{% extends 'base.html' %}
{% block content %}
<!-- <style>
    .table-scroll{
    max-height: 500px;
    overflow-y:scroll ; 
    overflow-x:hidden;
    
} -->
</style>
<div id="channel_detail">
    <div id="head-channel" class="px-4 mb-5 ">
        <h4>Name : {{channel.name}} | <a href="{{channel.link}}">{{channel.link}}</a></h4> 
        <!-- <h4>Description : {{channel.description}}</h4>  -->
        <!-- <h4>Bot : {{channel.tbot}}</h4> -->
    </div>
    <a href="{% url 'channel_add_post' channel.id %}" class="btn btn-info mx-5" style="font-size : 20px;">Thêm Post</a>

    <div id="table-tbot" class="row justify-content-center">
        <div class="col-md-10 table-scroll">
            <table class="table text-white mx-3 " >
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created At</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                {% for p in post %}
                <tr>
                   
                        <td>{{p.name}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.created_at}}</td>
                        <td class="d-flex">
                            {% if p.is_running %}
                            <a class="btn btn-warning m-1" href="{% url 'post_stop' p.id %}">Stop</a>

                            {% else %}
                            <a class="btn btn-success m-1" href="{% url 'post_run' p.id %}">Run</a>
                            {% endif %}
                            <a class="btn btn-info m-1" href="{% url 'channel_update_post' channel.id p.id %}">Detail</a>
                            <form action="{% url 'post_delete' p.id %}" class="m-1" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>

                        </td>
                        
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}